.head { 
    width: calc(100% - 5rem);
    margin-left:5rem;
    z-index: 1;
    transition: all .5s ease;
    background: #f4f4f4;
    padding: 1rem 1.5rem 0 1.1rem;

    position: fixed;
    top: 0;

}